/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}

/* app styles that are global */

main {
  margin: 0 auto;
  width: 120rem;
}
h1 {
  margin: 8rem 0;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

/* reset default stylings */

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/cera_pro_bold.eot'), url('../fonts/cera_pro_bold.ttf'), url('../fonts/cera_pro_bold.woff'), url('../fonts/cera_pro_bold.woff2'), url('../fonts/cera_pro_light.eot'), url('../fonts/cera_pro_light.ttf'), url('../fonts/cera_pro_light.woff'), url('../fonts/cera_pro_light.woff2') 
}

body {
  font-family: "Cera Pro", sans-serif;
}

/* navigation */
.navContainer {
  background-color: #F3EFA0;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.navbar {
  width: 120rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navMainLinks {
  padding: 6px 0;
}
.navMainLinks:hover {
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}
.logoAdveryContainer {
  height: 3rem;
  width: auto;
}
.logoAdvery{
  width: 100%;
  height: 100%;
}
.iconLeuchtturmContainer {
  height: 7rem;
  width: 7rem;
}
.iconLeuchtturm {
  height: 100%;
  width: 100%;
}
.navMainLinks {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/* start text */
.startTextTitle {
  font-size: 2rem;
  font-weight: bold;
}
.startText {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.startText:last-of-type {
  margin-bottom: 0;
}
/* buttons */
.buttonSize {
  width: 20rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.buttonGrey {
  background: white;
  border: 1px solid black;
  color: black;
}
.buttonPink {
  background: white;
  border: 1px solid #AA2184;
  color: #AA2184;
}
.buttonGrey:hover {
  background: black;
  color: white;
}
.buttonPink:hover {
  background: #AA2184;
  color: white;
}

/* link card */
.linkSearchContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.cardContainer {
  margin-bottom: 5rem;
  width: 100%;
  height: 25rem;
  display: grid;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "label input";
  background: radial-gradient(#F2F2F2, #E9E9E9);
}
.cardContainer:hover {
  transform: scale(1.01);
}
.cardContainer:last-of-type {
  margin-bottom: 0;
}
.cardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background: white;
}
.cardContent {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTitleContainer {
  width: 100%;
  font-size: 2.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardTitle {
  font-size: 2.6rem;
}
.cardButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.cardClicks {
  font-size: 2rem;
}
.detailLink {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.cardIcon {
  font-size: 5rem;
}

/* link list  */

.linkList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filterIcon {
  font-size: 3rem;
  margin-right: 2rem;
}

.filterButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.categoryEditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterTitle {
  font-size: 1.6rem;
  margin: 6rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
}

.filterButton {
  width: 20rem;
}

/* detail card */

.detailContainer {
  width: 100%;
  min-height: 25rem;
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "label input";
  background: radial-gradient(#F2F2F2, #E9E9E9);
}
.detailContainer:hover {
  transform: scale(1.01);
}

.cardDescription {
  font-size: 1.6rem;
  font-weight: lighter;
}

/* create  */

.linkForm {
  margin: 0 auto;
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkInputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  margin-bottom: 5rem;
}

.linkInputLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  width: 15rem;
  height: 5rem;
  background: black;
  color: white;
  font-size: 2rem;
}

.linkInput {
  width: 55rem;
  height: 5rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  font-weight: lighter;
  border: 1px solid black;
  color: black;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttonAutofill {
  margin-bottom: 5rem;
  width: 20rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.buttonCreate {
  margin-top: 5rem;
  background: white;
  border: 1px solid #AA2184;
  color: #AA2184;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonCreate:hover {
  background: #AA2184;
  color: white;
}

.createCategoryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createCategoryTitle {
  font-size: 2rem;
}

.createSingleCategoryContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

/* delete */

.deleteContainer {
  display: flex;
  flex-direction: column;
}

.deleteButtonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteButtonBox:last-of-type{
  margin-top: 5rem;
}

.deleteButtonBox button {
  align-items: center;
}

/* start text */
.startTextContainer {
  font-size: 2rem;
  text-align: center;
}

/* footer */
footer {
  margin-top: 20rem;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F3EFA0;
}

.footerLink {
  text-transform: uppercase;
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  main {
    width: 100%;
  }
  /* nav */
  .navbar {
    width: 100%;
    padding: 0 3rem;
  }

  /* linklist */
  .linkList {
    padding: 3rem;
  }
  .cardContainer {
    width: 100%;
    height: 25rem;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr; 
    gap: 0em 0px; 
    grid-template-areas: 
      "."
      "."; 
    justify-items: stretch; 
    background: radial-gradient(#F2F2F2, #E9E9E9);
  }
  .cardContent {
    height: 25rem;
    width: 100%;
  }
  .cardImage {
    height: 25rem;
    width: 100%;
  }
  .cardClicks {
    font-size: 1.6rem;
  }

  .linkInput {
    width: 100%;
  }

  /* button */
  .buttonSize {
    width: 12rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .buttonAutofill {
    width: 12rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
}

  /* start text */
  .startTextContainer {
    font-size: 1.6rem;
    padding: 0 3rem;
  }

  /* form */
  .linkForm {
    padding: 0 3rem;
    width: 100%;
  }
  .linkInputContainer {
    width: 100%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: 1fr; 
    gap: 0em 0px; 
    grid-template-areas: 
      ". ."; 
    justify-items: stretch; 
  }
  .linkInputLabel {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .cardContainer {
    width: 100%;
    min-height: 50rem;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0em 0px; 
    grid-template-areas: 
      "."
      "."; 
    justify-items: stretch; 
    background: radial-gradient(#F2F2F2, #E9E9E9);
  }

  /* card details */
  .detailContainer {
    width: 100%;
    min-height: 50rem;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0em 0px; 
    grid-template-areas: 
      "."
      "."; 
    justify-items: stretch; 
  }

  /* start text */
.startTextTitle {
  font-size: 1.6rem;
}
.startText {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

  /* form */

  .linkInputContainer {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .linkInputLabel {
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    padding: 0;
  }

  /* button */
  .buttonSize {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .buttonAutofill {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
}
}
@media only screen and (max-width: 600px) {
  .cardTitle {
    font-size: 1.8rem;
  }
  .cardIcon {
    font-size: 3rem;
  }
  .logoAdveryContainer, .iconLeuchtturmContainer {
    display: none;
  }
}
